@import "../../styles/base.scss";

.container {
  width: 142px;
  cursor: pointer;
  height: 165px;
  @include directionY;
  justify-content: center;
  align-items: center;
  .img {
    width: 96px;
    height: 94px;
    position: absolute;
    margin-bottom: 6rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
  .content {
    height: 130px;
    width: 100%;
    @include directionY;
    justify-content: end;
    align-items: center;
    background: url("../../assets/icons/rectangles.svg");
    bottom: 0;
    p {
      color: $fontTextBlack;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      text-align: center;
      font-weight: $FontWeight500;
    }
  }
}
