@import "./styles/base.scss";

.container{
    background-color: $backgroundPrimary;
    border-radius: 20px;
    @include directionY;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}