* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.nav .logo a {
  font-family: "Open Sans";
  font-size: 24px;
}

.section1 {
  background-image: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url("../image/bgimage1.jpg");
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  letter-spacing: 3px;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 2rem;
}

.main-content h1 {
  font-size: 72px;
  font-weight: bold;
  align-items: center;
  color: #ffffff;
  font-family: "Arial";
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main-content h3 {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  color: #ffffff;
  font-family: "Arial";
  letter-spacing: 2px;
  font-weight: 400;
}

.main-content button {
  width: 260px;
  height: 60px;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(#ffb548, #f3af34);
  border: #ffffff 2px;
}

.scroll {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  bottom: 0;
  left: 0;
  height: 3rem;
  position: absolute;
  width: 100%;
}

.scroll-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll p {
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 12px;
}

.scroll img {
  border: #ffffff 2px;
}

.section2 {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url("../image/bgimage2.png");
}

.kotak-hitam {
  opacity: 0.9;
  background: #0f0f0f;
  height: 100vh;
}

.section2 .container {
  width: 100%;
  display: flex;
  padding: 7rem 7rem;
}

.section2 .about {
  width: 50%;
}

.section2 .about h1 {
  font-family: "Arial";
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 3px;
  width: fit-content;
}
.section2 .about h3 {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
}

.section2 .image-carousel {
  width: 80%;
  position: relative;
  display: flex;
  gap: 0.5rem;
}

.section2 .switch-left {
  position: absolute;
  top: 50%;
  left: -2rem;
}
.section2 .switch-right {
  position: absolute;
  top: 50%;
  right: 0;
}

.section2 .carousel {
  flex-shrink: 0;
  object-fit: cover;
  width: 95%;
  margin-top: 2rem;
}

.section2 .image-carousel .radio-button{
  display: flex;
  width: 10rem;
  flex-direction: row;
  position: absolute;
  gap: 0.5rem;
  left: 40%;
  top: 95%;
}

.section3 {
  min-height: 100vh;
  background-size: cover;
  background-image: radial-gradient(
      81.01% 53.57% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.52) 47.48%,
      #080a0b 99.74%
    ),
    url("../image/bgimage3.png");
}

.features {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  margin-left: 50%;
}

.features h1 {
  font-family: "Arial";
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 3px;
  width: fit-content;
}
.features h3 {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 400;
  width: fit-content;
  color: #ffffff;
  letter-spacing: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column .row img {
  width: 14px;
  height: 14px;
  margin-left: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  color: #ffb548;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 24px;
  font-family: Arial;
  margin-left: 3rem;
}

.column .content {
  color: #ffffff;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  font-family: Open Sans;
  margin-left: 3rem;
}
.garis {
  width: 3px;
  height: 100px;
  background-color: #ffffff;
  border: #ffffff 1.96px;
  margin-bottom: -0.5rem;
  margin-left: 6px;
  margin-top: -3.7rem;
}
.section4 {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: radial-gradient(
      50% 49.23% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("../image/bgimage4.png");
}

.section4 .item {
  display: flex;
  flex-direction: column;
}

.section4 .item .title {
  font-family: Arial;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  color: #ffb548;
  margin: 0;
}

.section4 .item .desc {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.section4 .item5 .title {
  margin: 0;
}
.section4 .item5 .desc {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.requirementstitle {
  display: flex;
  flex-direction: column;
}

.requirementstitle h3 {
  font-family: Arial;
  color: white;
  font-weight: 400;
  size: 14px;
  margin: auto;
  padding-top: 5rem;
  justify-content: center;
  letter-spacing: 2px;
}

.requirementscontent {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
}

.requirementscontent h1 {
  font-size: 56px;
  width: 400px;
  height: 100px;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 400;
  letter-spacing: 3px;
  color: #ffffff;
}
.grid-container {
  display: grid;
  width: 600px;
  margin: 5rem;
  grid-template-columns: 300px 300px;
  border: #979797 solid 1px;
}

.grid-container > div {
  padding: 20px;
  border: #979797 solid 1px;
  font-size: 30px;
}

.item5 {
  grid-column: 1 / span 2;
}

.section5 {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background: radial-gradient(
      38.04% 77.62% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    ),
    url("../image/bgimage5.png");
}

.quotestitle {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 12rem 7rem;
  gap: 2.5rem;
}

.quotestitle h1 {
  font-size: 56px;
  font-family: Arial;
  letter-spacing: 3px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.quotesrow {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.quotesrowtitle {
  display: flex;
  margin: 1rem;
}

.quotesrowtitle .icon-tw {
  margin-left: 10rem;
  margin-top: -2rem;
}

.quotesrowtitle .prof {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin-top: -0.2rem;
  z-index: 1;
}
.quotesrowtitlecolumn {
  display: flex;
  flex-direction: column;
}

.quotesrowtitlecolumn .titlequotes {
  color: #ffb548;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  margin-left: 1rem;
}

.quotesrowtitlecolumn .contentquotes {
  color: #fff;
  text-align: justify;
  opacity: 0.5;
  margin-left: 1rem;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.quotescolumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quotestitle p {
  font-size: 18px;
  font-family: "Open Sans";
  letter-spacing: 3px;
  font-weight: 400;
  color: #ffffff;
}

.quotestitle button {
  width: 260px;
  height: 60px;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(#ffb548, #f3af34);
  border: #ffffff 2px;
}

.quotesbox {
  width: 453px;
  height: auto;
  flex-shrink: 0;
  position: relative;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
}

.quotesbox .descquotes {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1rem;
}

.quotesbox .datequotes {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin: 1rem;
}
.section6 {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #0f0f0f;
}

.section6 .container {
  width: 90%;
  display: flex;
  align-items: center;
}

.section6 .container .kiri {
  display: flex;
  justify-content: start;
  width: 40%;
  padding-left: 10%;
  padding-top: 5rem;
}

.kiri .skull {
  background: radial-gradient(
      54.01% 45.54% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 46.15%,
      #080a0b 99.74%
    ),
    url("../image/skull.png");
}

.section6 .container .kanan {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  padding-left: 20%;
}

.kanan h3 {
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.kanan h1 {
  color: #fff;
  font-family: Arial;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.kanan p {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

.kanan .kotak {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.kotak .input-subs {
  width: 70%;
  height: 60px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
  border: #ffffff 2px;
  border-radius: 4px;
  display: flex;
  padding: 0.5rem 1.5rem;
  flex-direction: column;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.input-subs p {
  color: #fff;
  opacity: 0.5;
  font-size: 16px;
  font-family: "Open Sans";
}
.kotak .button-subs {
  width: 30%;
  height: 60px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(#ffb548, #f3af34);
  border: #ffffff 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  background-color: #0f0f0f;
  font-family: "Open Sans", sans-serif;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.footbar li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.footbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.footbar .icon-social {
  margin: -1rem;
  padding-left: 1rem;
}

.footer-garis {
  width: 100%;
  border: #ffffff solid 1px;
}

.footer-tc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer-tc p {
  opacity: 0.5;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
