@import '../../styles/base.scss';

* {
  margin: 0;
  padding: 0;
}

.container {
  @include directionY;
  width: 100%;
  background-color: $color-white-fade;
  .title {
    width: fit-content;
    color: $color-black;
    font-family: $FontStyleRoboto;
    font-size: 48px;
    font-style: normal;
    margin: 49px 42px;
    font-weight: $FontWeightBlack;
    line-height: normal;
  }
  .profile {
    @include directionX;
    justify-content: center;
    .card {
      width: 200px;
      height: 276px;
      @include directionY;
      align-items: center;
      .cardProfile {
        width: 200px;
        object-fit: cover;
        height: 200px;
        border-radius: 200px;
        border: 1px solid #2e86de;
        margin-bottom: 22px;
      }
      .cardName {
        color: $color-black;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
      .cardEmail {
        color: $color-shortdesc;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: 100;
        line-height: normal;
      }
    }
  }
  .addNew{
    @include directionX;
    justify-content: center;
    margin: 32px 0;
  }
  .content {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 47px;
    @include apply-at-xs-size {
      grid-template-columns: repeat(1, 1fr);
    }
    @include apply-at-sm-size {
      grid-template-columns: repeat(1, 1fr);
    }
    @include apply-at-lg-size {
      grid-template-columns: repeat(2, 1fr);
    }
    @include apply-at-xl-size {
      grid-template-columns: repeat(3, 1fr);
    }
    @include apply-at-xxl-size {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
