@import "../../styles/base.scss";

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  @include directionY;
  .buttonBack {
    width: fit-content;
    background-color: $WhiteDarkModeText;
    border: none;
    color: $VeryDarkBlueLightModeText;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 50px;
    align-items: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
  }
  .content {
    width: 100%;
    @include directionX;
    @include apply-at-xs-size {
      @include directionY;
    }
    @include apply-at-sm-size {
      @include directionY;
    }
    @include apply-at-md-size {
      @include directionY;
    }
    @include apply-at-lg-size {
      @include directionX;
    }
    @include apply-at-xl-size {
      @include directionX;
    }
  }
  .contentKiri {
    width: 50%;
    display: flex;
    justify-content: center;
    @include apply-at-xs-size {
      width: 80%;
    }
    @include apply-at-sm-size {
      width: 80%;
    }
    @include apply-at-md-size {
      width: 80%;
    }
    @include apply-at-lg-size {
      width: 50%;
    }
    @include apply-at-xl-size {
      width: 50%;
    }
    .image {
      width: 455px;
      height: 300px;
      margin-left: 50px;
      @include apply-at-xs-size {
        width: 80%;
        height: 80%;
      }
      @include apply-at-sm-size {
        width: 75%;
      }
      @include apply-at-md-size {
        width: 70%;
      }
      @include apply-at-lg-size {
        width: 70%;
      }
      @include apply-at-xl-size {
        width: 455px;
      }
    }
  }
  .contentKanan {
    width: 50%;
    @include apply-at-xs-size {
      width: 90%;
    }
    @include apply-at-sm-size {
      width: 80%;
    }
    @include apply-at-md-size {
      width: 75%;
    }
    @include apply-at-lg-size {
      width: 70%;
    }
    @include apply-at-xl-size {
      width: 50%;
    }
    margin: auto;

    .title {
      font-size: 32px;
      font-weight: $FontWeights800;
      text-transform: capitalize;
    }
    .desc {
      margin-top: 2rem;
      @include directionX;
      width: 90%;
      justify-content: space-between;
      .descKiri {
        gap: 1rem;
        @include directionY;
        span {
          color: rgba(0, 0, 0, 0.5);
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
      .descKanan {
        gap: 1rem;
        @include directionY;
        span {
          color: rgba(0, 0, 0, 0.5);
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
    .borders {
      @include directionX;
      margin-top: 4rem;
      align-items: center;
      gap: 0.5rem;
      @include apply-at-xs-size {
        @include directionY;
      }
    }
    .kotak {
      border: $VeryDarkBlueBackground solid 1px;
      color: $VeryDarkBlueLightModeText;
      padding: 10px 26px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  }
}
