@import url(https://fonts.google.com/specimen/Nunito+Sans);

$FontFamily: 'Nunito Sans', sans-serif;
$FontWeights300: 300;
$FontWeights400: 400;
$FontWeights500: 400;
$FontWeights600: 600;
$FontWeights700: 700;
$FontWeights800: 800;