//Primary
$Grayish-Blue: hsl(237, 18%, 59%);
$Soft-Red: hsl(345, 95%, 68%);


//Neutral
$White: hsl(0, 0%, 100%);
$Dark-Desaturated-Blue: hsl(236, 21%, 26%);
$Dark-Desaturated-Blue-Dark: hsla(236, 21%, 20%);
$Very-Dark-Blue: hsl(235, 16%, 14%);
$Very-DM-Blue: hsl(234, 17%, 12%);